*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*--------------------------------------header----------------------------------------*/

.hauteur{
    background-color: #4267b2;
}

/*lien de facebook*/
.hauteur h1{
    margin-left: 200px;
}
.hauteur h1 a{
    text-decoration: none;
    color: white;
}
/*partie connexion*/

.hauteur ul li{
    padding: 0px 7px;
}
.hauteur ul li p{
    color: white;
}
ul li p input[type="text"], ul li p input[type="password"]{
    height: 28px;
}
.hauteur ul li button{
    padding: 0px 5px;
    color: white;
    background-color: rgb(75, 75, 170);
    border: none;
    border-radius: 2px;
}
.hauteur ul li p span{
    color: white;
    opacity: 0.6;
    
}
.hauteur ul li p a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
}


/*--------------------------------------body------------------------------------------*/
.body{
    margin-top: 30px;
}
.container-fluid{
    padding-left: 100px;
    padding-right: 50px;
}
.info{
    margin-top: 40px;
}
.info p{
    color: rgb(38, 38, 92);
    font-weight: bold;
}
.info img{
    width: 450px;
}
.inscription #gratuit{
    font-weight: 500;
    font-size: 20px;
}
.body button{
    height: 40px;
    font-size: 16px;
    width: 40%;
    background-color: rgb(26, 126, 26);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}